.topnav {
	
	padding-top: 4px;
	padding-bottom: 0px;
	
	margin: auto;	
	
	width: 995px;
	height: 52px;
	
	margin-top: 45px;
	
	border-style: solid;
	border-color: #C4C4C4;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	
	font-family: "open sans", Arial, sans-serif;
	font-size: 14px;
	
}	

	.topnav-main {
		
		max-width: 900px;
		
		padding-left: 60px;
		padding-right: 60px;
		
	}
	
		.Home {
			
			float: left;
			
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px;
			
			
			border-style: dotted;
			border-color: #444444;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 1px;
			border-right-width: 1px;	
		
		}
		
		.Home:hover {
			
			border-top-style: solid;
			border-top-width: 3px;
			border-top-color: #0073c6;
			margin-top: -3px;
			
		}
		
		.about-us {
				
			float: left;
		
			padding-top: 15px;
			padding-bottom: 6px;
			padding-left: 15px;
			padding-right: 15px;
			
			
			border-style: dotted;
			border-color: #444444;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
			border-right-width: 1px;
			
			position: relative;
			display: inline-block;
		}
		
			.material-icons.md-8 {
				
				font-size: 8px;
				
			}
			
			.About-us:hover .about-us-dropdown {
				
				display: block;
				
			}
			
			.About-us:hover .about-us-dropdown a{
				
				color: white;
				
			}
			
			.About-us:hover .about-us-dropdown a:hover{
				
				color: #0073c6;
				
			}
			
			.About-us:hover {
			
			border-top-style: solid;
			border-top-width: 3px;
			border-top-color: #0073c6;
			margin-top: -3px;
			
			}
			
				.About-us-dropdown {
					
					display: none;
					position: absolute;
					background-color: #000000;
					min-width: 160px;
					box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
					padding: 12px 16px;
					z-index: 1;
					margin-left: -15px;
					
				}
				
		.Core-Services {
			
			float: left;
			
			padding-top: 15px;
			padding-bottom: 6px;
			padding-left: 15px;
			padding-right: 15px;
			
			
			border-style: dotted;
			border-color: #444444;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
			border-right-width: 1px;
			
		}
		
			.core-services:hover .Core-Services-dropdown {
				
				display: block;
				
			}
			
			.core-services:hover .Core-Services-dropdown a {
				
				color: white;
				
			}
			
			.core-services:hover .Core-Services-dropdown a:hover{
				
				color: #0073c6;
				
			}
			
			.Core-services:hover {
			
			border-top-style: solid;
			border-top-width: 3px;
			border-top-color: #0073c6;
			margin-top: -3px;
			
			}
			
			
				.core-services-dropdown {
					
					display: none;
					position: absolute;
					background-color: #000000;
					min-width: 160px;
					box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
					padding: 12px 16px;
					z-index: 1;
					margin-left: -15px;
				}
		
		.Coverage {
			
			float: left;
			
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px;
			
			
			border-style: dotted;
			border-color: #444444;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
			border-right-width: 1px;
			
		}
		
		.Coverage:hover {
			
			border-top-style: solid;
			border-top-width: 3px;
			border-top-color: #0073c6;
			margin-top: -3px;
			
		}
		
		.Membership {
			
			float: left;
			
			padding-top: 15px;
			padding-bottom: 6px;
			padding-left: 15px;
			padding-right: 15px;
			
			
			border-style: dotted;
			border-color: #444444;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
			border-right-width: 1px;
			
		}
			
			.Membership:hover .Membership-dropdown {
				
				display: block;
				
			}
			
			.Membership:hover .Membership-dropdown a {
				
				color: white;
				
			}
			
			.Membership:hover .Membership-dropdown a:hover {
				
				color: #0073c6;
				
			}
			
			.Membership:hover {
			
			border-top-style: solid;
			border-top-width: 3px;
			border-top-color: #0073c6;
			margin-top: -3px;
			
			}
			
				.Membership-dropdown {
					
					position: relative;
					display: inline-block;
					
					display: none;
					position: absolute;
					background-color: #000000;
					min-width: 160px;
					box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
					padding: 12px 16px;
					z-index: 1;
					margin-left: -15px;
				}	
		
		.Capacity-Building {
			
			float: left;
			
			padding-top: 15px;
			padding-bottom: 6px;
			padding-left: 15px;
			padding-right: 15px;
			
			
			border-style: dotted;
			border-color: #444444;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
			border-right-width: 1px;
			
		}
			
			.Capacity-Building:hover .Capacity-Building-dropdown {
				
				display: block;
				
			}
			
			.Capacity-Building:hover .Capacity-Building-dropdown a {
				
				color: white;
				
			}
			
			.Capacity-Building:hover .Capacity-Building-dropdown a:hover {
				
				color: #0073c6;
				
			}
			
			.Capacity-Building:hover {
			
			border-top-style: solid;
			border-top-width: 3px;
			border-top-color: #0073c6;
			margin-top: -3px;
			
			}
			
				.Capacity-Building-dropdown {
					
					position: relative;
					display: inline-block;
					
					display: none;
					position: absolute;
					background-color: #000000;
					min-width: 160px;
					box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
					padding: 12px 16px;
					z-index: 1;
					margin-left: -15px;	
				}
			
		.Contact-us {
			
			float: left;
			
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px;
			
			
			border-style: dotted;
			border-color: #444444;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
			border-right-width: 1px;
			
		}
		
		.Contact-us:hover {
			
			border-top-style: solid;
			border-top-width: 3px;
			border-top-color: #0073c6;
			margin-top: -3px;
			
		}
		
		.News {
			
			float: left;
			
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px;
			
			
			border-style: dotted;
			border-color: #444444;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 0px;
			border-right-width: 1px;
			
		}
		
		.News:hover {
			
			border-top-style: solid;
			border-top-width: 3px;
			border-top-color: #0073c6;
			margin-top: -3px;
			
		}
		
		a.nav:link {
			
			text-decoration: none; 
			
			color: black;

		}

		a.nav:visited {

			color: black;

		}

		a.nav:hover {

			text-decoration: none;
			color: #0073c6;

		}
		
		.material-icons.md-8 {
			
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			vertical-align: middle;
			width:100%;
		
		}
		



