<!-- Blog card with just text -->

<div class="news-card">

	<div class="news-date">

		<div class="news-date-small">2017</div>
		<div class="news-date-large">14/08</div>

	</div>

	<div class="news-card-content">

		<a href="#" style="text-decoration: none;"><h6>IC-ENC Welcomes Solomon Islands as its 42nd Member</h6></a>

		<div class="news-card-author"><p>by Laura Tyzack at 13:40 in Announcements</p></div>

		<br>

		​IC-ENC welcomes Solomon Islands, having last week completed the Statement of
		Intent to Join process. This was achieved through the Australian Hydrographic
		Service, which is supporting SIMSA in the production and distribution of these ENCs
		while SIMSA develops its own capabilities. 41 new Solomon Islands ENCs,
		production code "SB", have now been released through IC-ENC to the VARs. ​

		<br>
		<br>
		<br>

		<a href="mailto:?Subject=IC-ENC%20Steering%20Committee%2019%20Discussion%20Papers" target="_top" class="nav">

			Email a link

		</a>

	</div>

</div>
		
<!-- Blog card with popout image -->

<div class="news-card">

	<div class="news-date">

		<div class="news-date-small">2017</div>
		<div class="news-date-large">21/06</div>

	</div>

	<div class="news-card-content">

		<a href="#" style="text-decoration: none;"><h6>IC-ENC Latin America: First Birthday!</h6></a>

		<div class="news-card-author"><p>by Laura Tyzack at 08:59 in Announcements</p></div>

		<br>

		To celebrate IC-ENC Latin America's first birthday, the IC-ENC Latin America RENC
		Group have written ​a short piece on the achievements, developments and
		challenges the office has faced since it became fully operational.  ​

		<br>
		<br>

		<img id="myImg02" src="Images/TC02 Group.jpg" alt="IC-ENC Technical Conference 2017" width="473.86" height="355.3">

		<div id="myModal02" class="modal02">
		  
			<span class="close02">&times;</span>
			<img class="modal-content02" id="img02">
			<div id="caption02"></div>

		</div>

		<script>

			var modal = document.getElementById('myModal02');

			var img = document.getElementById('myImg02');
			var modalImg = document.getElementById("img02");
			var captionText = document.getElementById("caption02");
			img.onclick = function(){
				modal.style.display = "block";
				modalImg.src = this.src;
				captionText.innerHTML = this.alt;
			}

			var span = document.getElementsByClassName("close02")[0];

			span.onclick = function() { 
				modal.style.display = "none";
			}
		
		</script>

		<br>
		<br>
		<br>

		<a href="mailto:?Subject=IC-ENC%20Steering%20Committee%2019%20Discussion%20Papers" target="_top" class="nav">

			Email a link

		</a>

	</div>

</div>
		
<!-- Blog card with a document download -->

<div class="news-card">

	<div class="news-date">

		<div class="news-date-small">2017</div>
		<div class="news-date-large">21/06</div>

	</div>

	<div class="news-card-content">

		<a href="#" style="text-decoration: none;"><h6>IC-ENC Latin America: First Birthday!</h6></a>

		<div class="news-card-author"><p>by Laura Tyzack at 08:59 in Announcements</p></div>

		<br>

		​​To celebrate IC-ENC Latin America's first birthday, the IC-ENC Latin America RENC
		Group have written ​a short piece on the achievements, developments and
		challenges the office has faced since it became fully operational.  ​

		<br>
		<br>

		Please click on the link below to download the document:

		<br>
		<br>

		<a href="\dml\2nd Line Support\Callum Stovell\IC-ENC Website move\IC-ENC Website move - Main\Documents\IC-ENC-LA-celebrates-first-birthday.pdf" download class="nav">

			<i class="material-icons md-2" style="font-size:20px;color: red;">picture_as_pdf</i>IC-ENC LA celebrates first birthday.pdf

		</a>

		<br>
		<br>
		<br>

		<a href="mailto:?Subject=IC-ENC%20Steering%20Committee%2019%20Discussion%20Papers" target="_top" class="nav">

			Email a link

		</a>

	</div>

</div>

<!-- Blog card with normal image -->

<div class="news-card">

	<div class="news-date">

		<div class="news-date-small">2017</div>
		<div class="news-date-large">14/08</div>

	</div>

	<div class="news-card-content">

		<a href="#" style="text-decoration: none;"><h6>IC-ENC Welcomes Solomon Islands as its 42nd Member</h6></a>

		<div class="news-card-author"><p>by Laura Tyzack at 13:40 in Announcements</p></div>

		<br>

		​IC-ENC welcomes Solomon Islands, having last week completed the Statement of
		Intent to Join process. This was achieved through the Australian Hydrographic
		Service, which is supporting SIMSA in the production and distribution of these ENCs
		while SIMSA develops its own capabilities. 41 new Solomon Islands ENCs,
		production code "SB", have now been released through IC-ENC to the VARs. ​

		<br>
		<br>
		<br>

		<img src="Images\#" width="#" height="#">
		
		<a href="mailto:?Subject=IC-ENC%20Steering%20Committee%2019%20Discussion%20Papers" target="_top" class="nav">

			Email a link

		</a>

	</div>
	
</div>

<!-- Blog card with multiple normal images -->

<div class="news-card">

	<div class="news-date">

		<div class="news-date-small">2017</div>
		<div class="news-date-large">14/08</div>

	</div>

	<div class="news-card-content">

		<a href="#" style="text-decoration: none;"><h6>IC-ENC Welcomes Solomon Islands as its 42nd Member</h6></a>

		<div class="news-card-author"><p>by Laura Tyzack at 13:40 in Announcements</p></div>

		<br>

		​IC-ENC welcomes Solomon Islands, having last week completed the Statement of
		Intent to Join process. This was achieved through the Australian Hydrographic
		Service, which is supporting SIMSA in the production and distribution of these ENCs
		while SIMSA develops its own capabilities. 41 new Solomon Islands ENCs,
		production code "SB", have now been released through IC-ENC to the VARs. ​

		<br>
		<br>
		<br>

		<div class="news#-pic#" style="float:left; padding-right:20px; padding-bottom:40px;">
		  
			<img src="Images\#" width="#" height="#">
		  
		</div>
		  
		<div class="news#-pic#" style="float:left; padding-right:20px; padding-bottom:40px;">
		  
			<img src="Images\#" width="#" height="#">
		  
		</div>
		  
		<div class="news#-pic#" style="float:left; padding-right:75px; padding-bottom:40px;">
		  
			<img src="Images\#" width="#" height="#">
		  
		</div>
		
		<a href="mailto:?Subject=IC-ENC%20Steering%20Committee%2019%20Discussion%20Papers" target="_top" class="nav">

			Email a link

		</a>

	</div>
	
</div>
		
